.letter-space {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 46px;
    border: 2px solid darkgreen;
}

.spacer {
    border: none;
    margin: 2px;
}

.cell {
    position: relative;
    left: 23px;
    top: 23px;
}

.letter-tile {
    width: 36px;
    height: 36px;
    border: 1px solid black;
    cursor: move;
}

.board {
    display: flex;
    flex-flow: row wrap;
    width: 401px;
    margin: 5px;
}

.quizl {
    box-sizing: content-box;
    touch-action: none;
}
